/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #bf7322 !important;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input{
  padding-left: 5px;
  padding-right: 15px;
  border: 1px solid #bf7322;
}

input:focus{
  outline: none;
  border: 1px solid #bf7322;
}

.blurred {
  backdrop-filter: blur(5px);
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';